.wrapper {
  width: 1224px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #265D88;
}

.content {
  display: flex;
  flex-grow: 1;
  padding-top: 120px;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.topWriting {
  font-weight: 700;
  font-size: 14px;
}

.title {
  font-size: 80px;
  font-weight: 700;
  margin-top: 8px;
}

.yellow {
  color: #FEA609;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #5E5E5E;
  line-height: 160%;
  margin-top: 16px;
}

.formContainer {
  margin-left: -8px;
  margin-top: 48px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  .topbar {
    padding: 24px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .col {
    padding: 40px 16px;
    background-color: #fef8ed !important;
  }

  .title {
    font-size: 60px;
    font-weight: 800;
  }

  .formContainer {
    margin-top: 32x;
    margin-bottom: 56px;
  }

  .container {
    align-items: flex-start;
  }
}